# Grouping Items by Category using defaultdict


In this notebook, we'll explore how to **group items by category** using Python's `defaultdict` from the `collections` module.  
This is useful for automatically creating lists (or other containers) when new keys are encountered.

## ðŸ§© Example 1 â€” Group students by grade

In [ ]:

from collections import defaultdict

students = [("A", "Alice"), ("B", "Bob"), ("A", "Aria"), ("C", "Chris")]
grouped = defaultdict(list)

for grade, name in students:
    grouped[grade].append(name)

print(grouped)
print(grouped["A"])  # Expected: ['Alice', 'Aria']

## ðŸ§© Example 2 â€” Group words by first letter

In [ ]:

from collections import defaultdict

words = ["apple", "ant", "banana", "book", "cat"]
grouped = defaultdict(list)

for word in words:
    grouped[word[0]].append(word)

print(grouped)
print(grouped["b"])  # Expected: ['banana', 'book']

## ðŸ§© Example 3 â€” Group transactions by user

In [ ]:

from collections import defaultdict

transactions = [("Alice", 25), ("Bob", 15), ("Alice", 30), ("Charlie", 20)]
grouped = defaultdict(list)

for user, amount in transactions:
    grouped[user].append(amount)

print(grouped["Alice"])      # Expected: [25, 30]
print(sum(grouped["Alice"])) # Expected: 55

## ðŸ§© Example 4 â€” Group temperatures by day

In [ ]:

from collections import defaultdict

temps = [("Mon", 20), ("Tue", 22), ("Mon", 25), ("Tue", 23)]
grouped = defaultdict(list)

for day, temp in temps:
    grouped[day].append(temp)

print(grouped["Mon"])  # Expected: [20, 25]
print(sum(grouped["Mon"]) / len(grouped["Mon"]))  # Expected average: 22.5

## ðŸ§© Example 5 â€” Group employees by department

In [3]:

from collections import defaultdict

employees = [("HR", "Alice"), ("IT", "Bob"), ("HR", "Carol"), ("Sales", "David")]
grouped = defaultdict(list)

for dept, name in employees:
    grouped[dept].append(name)

print(grouped)
print(grouped["HR"])  # Expected: ['Alice', 'Carol']

defaultdict(<class 'list'>, {'HR': ['Alice', 'Carol'], 'IT': ['Bob'], 'Sales': ['David']})
['Alice', 'Carol']


## ðŸ§  Practice Questions (Try it yourself!)

1. You have pairs of `(country, city)` â€” group cities under their countries.  
   Example data:  
   `[("Canada", "Vancouver"), ("USA", "Seattle"), ("Canada", "Toronto"), ("USA", "Boston")]`

2. Given a list of `(subject, score)` pairs, group all scores under their subjects.  
   Example: `[("Math", 90), ("Science", 80), ("Math", 75)]`

3. You have a list of `(month, expense)` tuples â€” group and find total expenses per month.  
   Example: `[("Jan", 200), ("Feb", 300), ("Jan", 100)]`

4. Given words like `["dog", "door", "cat", "car", "deer"]`, group them by their first two letters.

5. Youâ€™re given `(genre, movie)` pairs â€” group the movies by genre.  
   Example: `[("Action", "Die Hard"), ("Drama", "Titanic"), ("Action", "Mad Max")]`

1. You have pairs of `(country, city)` â€” group cities under their countries.  
   Example data:  
   `[("Canada", "Vancouver"), ("USA", "Seattle"), ("Canada", "Toronto"), ("USA", "Boston")]`

In [2]:
from collections import defaultdict

locations = [("Canada", "Vancouver"), ("USA", "Seattle"), ("Canada", "Toronto"), ("USA", "Boston")]
grouped = defaultdict(list)

for country, city in locations:
    grouped[country].append(city)

print(grouped)

defaultdict(<class 'list'>, {'Canada': ['Vancouver', 'Toronto'], 'USA': ['Seattle', 'Boston']})

2. Given a list of `(subject, score)` pairs, group all scores under their subjects.  
   Example: `[("Math", 90), ("Science", 80), ("Math", 75)]`

In [4]:
subjects_scores = [("Math", 90), ("Science", 80), ("Math", 75)]
grouped = defaultdict(list)

for subject, score in subjects_scores:
    grouped[subject].append(score)

print(grouped)

defaultdict(<class 'list'>, {'Math': [90, 75], 'Science': [80]})

3. You have a list of `(month, expense)` tuples â€” group and find total expenses per month.  
   Example: `[("Jan", 200), ("Feb", 300), ("Jan", 100)]`

In [5]:
monthly_expenses = [("Jan", 200), ("Feb", 300), ("Jan", 100)]
grouped = defaultdict(list)

for month, expense in monthly_expenses:
    grouped[month].append(expense)

print(grouped)

defaultdict(<class 'list'>, {'Jan': [200, 100], 'Feb': [300]})

4. Given words like `["dog", "door", "cat", "car", "deer"]`, group them by their first two letters.

In [9]:
words = ["dog", "door", "cat", "car", "deer"]
grouped = defaultdict(list)

for word in words:
    grouped[word[0:2]].append(word)

print(grouped)
print(grouped["do"])

defaultdict(<class 'list'>, {'do': ['dog', 'door'], 'ca': ['cat', 'car'], 'de': ['deer']})
['dog', 'door']

5. Youâ€™re given `(genre, movie)` pairs â€” group the movies by genre.  
   Example: `[("Action", "Die Hard"), ("Drama", "Titanic"), ("Action", "Mad Max")]`

In [8]:
movies = [("Action", "Die Hard"), ("Drama", "Titanic"), ("Action", "Mad Max")]
grouped = defaultdict(list)

for genre, title in movies:
    grouped[genre].append(title)

print(grouped)

defaultdict(<class 'list'>, {'Action': ['Die Hard', 'Mad Max'], 'Drama': ['Titanic']})