1. Word Count per Review
reviews = [
"Great service and friendly staff",
"Friendly staff and clean place",
"Great food and great service"
]
Task: Print the number of words in each review using nested loops.

In [109]:
reviews = [
    "Great service and friendly staff",
    "Friendly staff and clean place",
    "Great food and great service"
]

for review in reviews:
    words = review.lower().split()
    unique_words = set(words)
    print(f"Review: '{review}' has {len(unique_words)} unique words.")

Review: 'Great service and friendly staff' has 5 unique words.
Review: 'Friendly staff and clean place' has 5 unique words.
Review: 'Great food and great service' has 4 unique words.

2. Character Frequency per Word
words = ["python", "analysis", "data"]
Task: Print how many times each character appears in each word.

In [110]:
from collections import defaultdict

words = ["python", "analysis", "data"]

for word in words:
    counts = defaultdict(list)
    for char in word:
        if counts[char] == 1:
            counts[char] += 1
        else:
            counts[char] = 1
    print(counts)

defaultdict(<class 'list'>, {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1})
defaultdict(<class 'list'>, {'a': 2, 'n': 1, 'l': 1, 'y': 1, 's': 2, 'i': 1})
defaultdict(<class 'list'>, {'d': 1, 'a': 2, 't': 1})

3. Count Vowels in a List of Names
names = ["Alice", "Bob", "Charlie", "Diana"]

In [111]:
vowels = ['a', 'i', 'u', 'e', 'o']
names = ["Alice", "Bob", "Charlie", "Diana"]

counts = defaultdict(list)

for name in names:
    counts[name] = 0
    for char in name:
        if char.lower() in vowels:
            counts[name] += 1
print(counts)

defaultdict(<class 'list'>, {'Alice': 3, 'Bob': 1, 'Charlie': 3, 'Diana': 3})

4. Word Match Across Sentences
sentences = [
["data", "science", "is", "fun"],
["machine", "learning", "is", "fun"],
["deep", "learning", "is", "cool"]
]
Task: Print words that appear in more than one sentence.

In [112]:
from collections import defaultdict

sentences = [
    ["data", "science", "is", "fun"],
    ["machine", "learning", "is", "fun"],
    ["deep", "learning", "is", "cool"]
]

counts = defaultdict(int)

for sentence in sentences:
    for word in sentence:
        counts[word] += 1

print(dict(counts))

{'data': 1, 'science': 1, 'is': 3, 'fun': 2, 'machine': 1, 'learning': 2, 'deep': 1, 'cool': 1}

5. Capital Letters Checker
words = ["Data", "Science", "PYTHON"]
Task: Print which characters in each word are uppercase.

In [113]:
from collections import defaultdict

words = ["Data", "Science", "PYTHON"]
counts = defaultdict(list)

for word in words:
    for char in word:
        if char == char.upper():
            counts[word].append(char)
print(dict(counts))

{'Data': ['D'], 'Science': ['S'], 'PYTHON': ['P', 'Y', 'T', 'H', 'O', 'N']}

6. First Letter Match Matrix
names = ["Alice", "Alan", "Bob", "Barbara", "Charlie"]
Task: For each pair of names, print if they start with the same letter.

In [114]:
from collections import defaultdict

names = ["Alice", "Alan", "Bob", "Barbara", "Charlie"]
init_names = defaultdict(list)

for name in names:
    init_names[name[0]].append(name)

print(dict(init_names))

{'A': ['Alice', 'Alan'], 'B': ['Bob', 'Barbara'], 'C': ['Charlie']}

7. String Rotation Matches
words = ["loop", "pool", "cool", "loop"]
Task: Print pairs of words that are rotations of each other (e.g., "loop" and "pool").

In [115]:
from collections import defaultdict

words = ["loop", "pool", "cool", "loop"]
rotations = defaultdict(list)

for i in range(len(words)):
    for word in words:
        if words[i] == word:
            pass
        elif words[i] == word[::-1]:
            rotations[words[i]].append(word)
print(dict(rotations))

{'loop': ['pool', 'pool'], 'pool': ['loop', 'loop']}

8. Word Length Checker
word_lists = [["apple", "banana"], ["grape", "pear", "kiwi"], ["mango"]]
Task: Print which words have more than 5 characters.

In [116]:
word_lists = [["apple", "banana"], ["grape", "pear", "kiwi"], ["mango"]]

word_list_than_5char = []

for word_list in word_lists:
    for word in word_list:
        if len(word) >= 5:
            word_list_than_5char.append(word)
print(word_list_than_5char)

['apple', 'banana', 'grape', 'mango']

9. Palindrome Checker
words = ["level", "data", "civic", "python", "madam"]
Task: Print all the words that are palindromes.

In [117]:
words = ["level", "data", "civic", "python", "madam"]

palindromes = []

for word in words:
    if word == word[::-1]:
        palindromes.append(word)

print(palindromes)

['level', 'civic', 'madam']

10. Matching Characters Position
word_pairs = [("data", "date"), ("python", "pythagoras")]

Nested Loop Exercises 2

Task: Print how many characters match in the same position.

In [118]:
word_pairs = [("data", "date"), ("python", "pythagoras")]

for word1, word2 in word_pairs:
    min_length = min(len(word1), len(word2))
    match_count = 0

    for i in range(min_length):
        if word1[i] == word2[i]:
            match_count += 1

    print(f"The words '{word1}' and '{word2}' have {match_count} characters that match in the same position.")

The words 'data' and 'date' have 3 characters that match in the same position.
The words 'python' and 'pythagoras' have 4 characters that match in the same position.

11. Student Subject Averages
student_scores = {
"Alice": {"Math": [90, 57], "Science": [74, 60]},
"Bob": {"Math": [96, 91], "Science": [86, 95]}
}
Task: Print each student's average per subject.

In [119]:
student_scores = {
"Alice": {"Math": [90, 57], "Science": [74, 60]},
"Bob": {"Math": [96, 91], "Science": [86, 95]}
}

for name, subjects in student_scores.items():
    for subject, scores in subjects.items():
        average_score = sum(scores) / len(scores)
        subjects[subject] = average_score
        print(f'{name} - {subject}: {average_score}')

Alice - Math: 73.5
Alice - Science: 67.0
Bob - Math: 93.5
Bob - Science: 90.5

12. Best Student per Subject
Task: Print which student had the highest total score in each subject.

In [120]:
student_scores = {
"Alice": {"Math": [90, 57], "Science": [74, 60]},
"Bob": {"Math": [96, 91], "Science": [86, 95]}
}

subject_totals = {}

for student, subjects in student_scores.items():
    for subject, scores in subjects.items():
        if subject not in subject_totals:
            subject_totals[subject] = {}
        subject_totals[subject][student] = sum(scores)

for subject, scores_dict in subject_totals.items():
    best_student = max(scores_dict, key=scores_dict.get)
    print(f"Best student in {subject}: {best_student} with total score {scores_dict[best_student]}")

Best student in Math: Bob with total score 187
Best student in Science: Bob with total score 181

13. Temperature Averages
temps = {
"Vancouver": [5, 28, 19],
"Toronto": [13, 7, 27],
"Calgary": [24, 27, 5]
}
Task: Print average temperature for each city.

In [121]:
temps = {
"Vancouver": [5, 28, 19],
"Toronto": [13, 7, 27],
"Calgary": [24, 27, 5]
}

for city, temp in temps.items():
    avg_temp = sum(temp) / len(temp)
    print(f"The average temperature in {city} is {avg_temp:.2f}°C")

The average temperature in Vancouver is 17.33°C
The average temperature in Toronto is 15.67°C
The average temperature in Calgary is 18.67°C

14. Temperatures Over 25°C
Task: Print which days had over 25°C per city.

In [122]:
temps = {
"Vancouver": [5, 28, 19],
"Toronto": [13, 7, 27],
"Calgary": [24, 27, 5]
}

for city, temp_list in temps.items():
    count = 0
    for temp in temp_list:
        if temp > 25:
            count += 1
    print(f"The number of days with temperature above 25°C in {city} is {count}")

The number of days with temperature above 25°C in Vancouver is 1
The number of days with temperature above 25°C in Toronto is 1
The number of days with temperature above 25°C in Calgary is 1

15. Replace Zeroes in a Matrix
matrix = [
[0, 3, 5],
[6, 0, 2],
[7, 1, 0]
]
Task: Replace each 0 with the average of non-zero values in the row.

In [123]:
matrix = [
    [0, 3, 5],
    [6, 0, 2],
    [7, 1, 0]
]

new_matrix = []

for row in matrix:
    non_zeros = []
    for x in row:
        if x != 0:
            non_zeros.append(x)

    if non_zeros:
        avg = round(sum(non_zeros) / len(non_zeros))
    else:
        avg = 0

    new_row = [avg if x == 0 else x for x in row]
    new_matrix.append(new_row)

for row in new_matrix:
    print(row)

[4, 3, 5]
[6, 4, 2]
[7, 1, 4]

16. Column Totals
sales = [
[5, 3, 2],
[6, 4, 3],
[4, 5, 6]
]
Task: Print the total sales per column (product-wise).

In [124]:
sales = [
    [5, 3, 2],
    [6, 4, 3],
    [4, 5, 6]
]

total_sales_per_product = []
for product_idx in range(len(sales[0])):
    total = 0
    for day_idx in range(len(sales)):
        total += sales[day_idx][product_idx]
    total_sales_per_product.append(total)
print(total_sales_per_product)

[15, 12, 11]

17. Table Transpose
data = [
["Name", "Age"],
["Alice", 25],
["Bob", 22]
]
Task: Transpose the table (swap rows and columns).

In [125]:
data = [
    ["Name", "Age"],
    ["Alice", 25],
    ["Bob", 22]
]

transposed_data = []
for col_idx in range(len(data[0])):
    new_row = []
    for row_idx in range(len(data)):
        new_row.append(data[row_idx][col_idx])
    transposed_data.append(new_row)

for row in transposed_data:
    print(row)

['Name', 'Alice', 'Bob']
['Age', 25, 22]

18. Grade Conversion
scores = [
[95, 82, 76],
[60, 45, 89]
]
Task: Convert all scores to grades (A/B/C/D/F) using nested loops.

In [126]:
scores = [
    [95, 82, 76],
    [60, 45, 89]
]

grade_counts = {"A": 0, "B": 0, "C": 0, "D": 0, "F": 0}
for student_scores in scores:
    for score in student_scores:
        if score >= 90:
            grade_counts["A"] += 1
        elif score >= 80:
            grade_counts["B"] += 1
        elif score >= 70:
            grade_counts["C"] += 1
        elif score >= 60:
            grade_counts["D"] += 1
        else:
            grade_counts["F"] += 1
print(grade_counts)

{'A': 1, 'B': 2, 'C': 1, 'D': 1, 'F': 1}

19. Compare Matrices

Nested Loop Exercises 4

a = [[1, 2], [3, 4]]
b = [[1, 3], [3, 5]]
Task: Print if the corresponding elements are equal or not.

In [127]:
a = [[1, 2], [3, 4]]
b = [[1, 3], [3, 5]]

# corresponding element are equal or not
are_equal = []
for i in range(len(a)):
    row = []
    for j in range(len(a[0])):
        row.append(a[i][j] == b[i][j])
    are_equal.append(row)
print(are_equal)

[[True, False], [True, False]]

20. Count Values Above Threshold
data = [
[120, 135, 142],
[130, 145, 150],
[140, 138, 133]
]
Task: Count how many values are above 140 in the dataset.

In [128]:
data = [
    [120, 135, 142],
    [130, 145, 150],
    [140, 138, 133]
]

# how many elements above 140
count_above_140 = 0
for row in data:
    for value in row:
        if value > 140:
            count_above_140 += 1
print(count_above_140)

3